body {
  font-family: sans-serif;
  background-color: #fff0f5;
  color: #333;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #a052aa;
}

.ciclo {
  margin-bottom: 30px;
  border: 2px dashed #e3a0e3;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.cursos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.boton-curso {
  background-color: #ffc0cb;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.boton-curso:hover {
  background-color: #ffb6c1;
}

.boton-curso.aprobado {
  background-color: #dda0dd;
  text-decoration: line-through;
  color: white;
}
